.table-panel {
    margin-top: 40px;
}

.jumbotron {
    background-image: url("assets/night-sky.png");
    color: #52FF2F;
    font-family: Courier New, Courier, monospace;
    margin-bottom: 0px;
}
#clear-div {
    /* padding-left: 40px; */
    padding-top: 38px;
    display: flex; 
    justify-content: center;
}
#pagination-div {
    display: flex; 
    justify-content: center;
}
#map {
    height: 500px;
    width: 100%;
    margin-bottom: 40px;
}
#headerButton {
    background-color: #52FF2F;
    color: black;
}